@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

section{
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    background: rgb(179, 179, 179);
    
    
}

.card{
    position: relative;
    width: 508px;
    height: 314px;
    perspective: 500px;
    transform-style: preserve-3d;
    

    
}

.front_card , .back_card {
    position: absolute;
    background:white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    transform-style: preserve-3d;
    transition: 1s;
    backface-visibility: hidden;
    
}

.card:hover .front_card{
    transform: rotateY(180deg);
}
.back_card{
    transform: rotateY(180deg);
}

.card:hover .back_card{
    transform: rotateY(360deg);
}







.front_card::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgba(140, 189, 58, 1);
    right: 80px;
}

.front_card::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgb(57, 145, 53);
    right: 70px;
    top: 40px;
    opacity:0.9;
}
.blackbar{
    position: absolute;
    width: 100%;
    height: 50px;
    background:#000;
    top: 50px;
}

.background{
    position: absolute;
    width: 250px;
    top: 70px;
    left: 130px;

}

.ccvtext{
    position: absolute;
    top: 120px;
    left: 30px;
}

h5{
    color: #000;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Poppins',sans-serif;

}

.whitebar{
    position: absolute;
    width: 400px;
    height: 40px;
    background: rgb(199, 194, 194);
    margin-top: 5px;
}

.ccv{
    position: absolute;
    background: #ccc;
    color: #111;
    width: 50px;
    height: 30px;
    font-weight: 600;
    display: flex ;
    justify-content: center;
    align-items: center;
    left: 395px;
    top: 28px;
}

.text{
    position: absolute;
    color: #000;
    bottom: 30px;
    left: 30px;
    right: 30px;
    font-size: 10px;
    line-height: 1.4em;
    font-weight: 700;
    font-family: sans-serif,'Poppins';
}

.signature{
    position: absolute;
    font-family: 'Pinyon Script', cursive;
    top: 1px;
    left: 70px;
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: 400;
}



.cube1{
    position: absolute;
    width: 18px;
    height: 18px;
    top: 108px;
    left: 60px;
    background: rgba(186, 214, 145, 1);
    opacity: 0.9;
}
.cube2{
    position: absolute;
    background: rgba(140, 189, 58, 1);
    width: 20px;
    height: 20px;
    bottom: 95px;
    left: 100px;
    opacity: 0.8;
}

.cube3{
    position: absolute;
    background:rgb(131, 180, 47);
    width: 35px;
    height: 50px;
    bottom: 60px;
    left: 0px;
    
}
.cube3::after{
    content: '';
    position: absolute;
    background-color: rgb(168, 211, 104);
    width: 40px;
    height: 40px;
    bottom: -20px;
    left:15px;
    opacity: 0.7;
}
.logo_bank{
    position: absolute;
    width: 70px; 
    top: 20px;
    left: 15px;
}

.chip{
    position: absolute;
    max-width: 65px;
    top: 100px;
    left: 30px;
}
.number_card{
    position: absolute;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0 2px 1px #0005 ;
    bottom: 115px;
    left: 40px;
    letter-spacing: 6px;
    font-weight: 600;
    font-size: 18px;
    

}


.pay{
    position: absolute;
    width: 30px;
    right: 15px;
    top: 30px;
}

.bank_name{
    position: absolute;
    top: 35px;
    left: 110px;
    font-weight: 900;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}


.debit{
    position: absolute;
    top: 70px;
    right: 15px;
    font-weight: 700;
    font-size: 13px;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
}


.debit::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: rgb(57, 145, 53);
    right: 30px;
    top: 100px;
    opacity:0.6;

}

.debit::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgb(57, 145, 53);
    right: 1px;
    top: 70px;
    opacity:0.2;

}

.valid{
    position: absolute;
    bottom: 70px;
    left: 133px;
    font-weight: 900;
    line-height: 1em;
    font-size: 12px;
    align-items: center;
    display: flex;
    font-family: 'Poppins', sans-serif;

    
}

.data{
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
    font-weight: 100;
    font-size: 25px;
    margin-left:10px;
    

}

.name{
    position: absolute;
    bottom: 30px;
    left: 40px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2px;

}

.visa{
    position: absolute;
    width: 110px;
    bottom: 20px;
    right: 10px;
}